#project {

    .main-title {
        font-size: 35px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }

    .img-wrapper {
        border: 2px solid #ccc;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 8px 2px #888888;  
        img {
            cursor: zoom-in;
        }       
    }

    .thumb-wrapper {
        display: flex;
        // justify-content: space-between;        

        .thumb {
            padding: 7px;
            border: 1px solid #ccc;
            margin-right: 10px;
            box-shadow: 1px 1px 5px 1px #aaa;    
            img {
                max-height: 100px;    
                cursor: pointer;
            }
        }
        .thumb:last-child {
            margin-right: 0;
        }   
    }

}
