#showcase {

    // background-color: #eee;
    // background: url('/images/background.jpg');
    border-bottom: 2px solid #ccc;

    h1 {
        font-size: 100px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 55px;
        margin-bottom: 20px;
    }
    
    p {
        font-size: 18px;
        margin-bottom: 10px;
    }
}