.second-group {
    display: none;
}
.third-group {
    display: none;
}

.add-second {
    cursor: pointer;
    color: rgb(0, 204, 255);
}
.add-third {
    cursor: pointer;
    color: rgb(0, 204, 255);
}
