@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&family=Yusei+Magic&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #3490dc;
$secondary-color: #FFCC00;

body {
    // background-color: black !important; 
    font-family: 'Roboto', 'Yusei Magic', 'Roboto Slab', serif;
}

