@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Roboto+Slab&family=Yusei+Magic&display=swap');

$primary-color: #FFCC00;
$secondary-color: #0052a4;


body {
    // background-color: black !important; 
    font-family: 'Goldman', 'Yusei Magic', 'Roboto Slab', serif;
}

